<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ng.com.higotech.gp"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>GPA Calculator</name>

  <description>
      A simple Grade Point Average(GPA) Calculator Application
  </description>

  <author href="http://higotech.com.ng" email="sirhollyfat@gmail.com">
      Hollyfat
  </author>

</widget>